

.inner-cursor {
    position: fixed;
    z-index: 20;
    left: 10px;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    background-color: white;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width .5s, height .5s;
    
}

.inner-cursor.grow {
    width: 25px;
    height: 25px;
    transition: width .5s, height .5s;
}

.outer-cursor {
    position: fixed;
    z-index: 20;
    left: 10px;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
}

@media (max-width: 600px) {
    * {
        margin: 0px;
        background-color: #5e503f;
    }

    nav.navbar.sticky-top {
        padding: 0;
        z-index: 0;
    }

    a {
        float: left;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 30px;
        background-color: #C6AC8F;
        font-family: Comfortaa;
    }

    a.navbarBrand {
        color: white;
        text-decoration: none;
    }

    div.container-fluid {
        background-color: #C6AC8F;
        border-top: 5px solid #eae0d5;
        border-bottom: 5px solid #eae0d5;
    }

    span.navbar-toggler-icon {
        background-color: #C6AC8F;
    }

    button.navbar-toggler {
        background-color: #C6AC8F;
    }

    a.navLink {
        color: white;
        background-color: #C6AC8F;
        font-size: 18px;
        text-decoration: none;
    }

    li.navItem {
        background-color: #C6AC8F;
    }

    div.largeScreen {
        display: none;
    }

    .Instagram {
        height: 30px;
        width: 30px;
    }

    .Gmail {
        height: 30px;
        width: 30px;
    }

    .Linkedin {
        height: 30px;
        width: 30px;
    }

    .carousel-container {
        width: 90%;
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        background-color: transparent;
    }

    .carousel-images {
        width: 80%;
        background: #C6AC8F;
        padding: 10px;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 2px 2px #5e503f;
    }

    .carousel-images img {
        width: 100%;
        border-radius: 10px;
        display: none;
    }

    .carousel-images img:first-of-type {
        display: block;
    }

    .carousel-button {
        align-self: center;
        background: #C6AC8F;
        color: #C6AC8F;
        padding: 10px;
        border-radius: 50%;
        text-align: center;
        box-shadow: 1px 1px #C6AC8F;
    }

    .carousel-button:hover {
        cursor: pointer;
        background: #C6AC8F;
        box-shadow: 1px 1px #C6AC8F;
        color: white;
    }

    span.lnr.lnr-chevron-left {
        background-color: #C6AC8F;
        color: white;
    }

    span.lnr.lnr-chevron-right {
        background-color: #C6AC8F;
        color: white;
    }

    .Instagram {
        height: 30px auto;
        width: 30px;
    }

    .Gmail {
        height: 30px;
        width: 30px;
    }

    .Linkedin {
        height: 30px;
        width: 30px;
        background-color: white;
    }

    .socialLink {
        background-color: white;
    }

    .bottomLinks {
        border-top: 5px solid #eae0d5;
        background-color: #C6AC8F;
        padding-top: 5px;
        padding-bottom: 4px;
        position: absolute;
        bottom: 0;
        width: 100vw;
        z-index: 5;
    }

    h1 {
        background-color: #C6AC8F;
        border-bottom: 5px solid #eae0d5;
        border-top: 5px solid #eae0d5;
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        font-family: Comfortaa;
        z-index: 20;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        position: absolute;
        top: 55%;
        left: 49%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

    .head-container {
        color: white;
        z-index: 20;
        position: absolute;
        width: 100vw;
        z-index: 5;
        top: 0;
        margin-top: 8px;
        background-color: transparent;

    }

    .carousel-button.next {
        border: 5px solid #eae0d5;
        margin-left: 8px;
    }

    .carousel-button.prev {
        border: 5px solid #eae0d5;
        margin-right: 8px;
    }

    .inner-cursor {
        display: none;
    }

    body {
        min-height: 100vh;
        background-color: #5e503f;
    }
    
    .background-container {
        position: relative;
        width: 100%;
        height: 92vh;
        overflow: hidden;
    }
    
    .background-bubbles {
        position: relative;
        display: flex;
        z-index: 0;
    }
    
    .background-bubbles span {
        position: relative;
        width: 30px;
        height: 30px;
        background: #eae0d5;
        margin: 0 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #807972,
        0 0 50px #eae0d5,
        0 0 100px #eae0d5;
        animation: animate 15s linear infinite;
        animation-duration: calc(125s / var(--i));
        -webkit-animation: animate 15s linear infinite;
        -webkit-animation-duration: calc(125s / var(--i));
        z-index: 0;
    }
    
    .background-bubbles span:nth-child(even) {
        background: #C8AF92;
        box-shadow: 0 0 0 10hv #81715f,
        0 0 50px #C8AF92,
        0 0 100px #C8AF92;
        z-index: 0;
    }

    .notMobileFriendly {
        display: none;
    }
    
    @keyframes animate {
        0% {
            transform: translateY(100vh) scale(0);
        }
        100% {
            transform: translateY(-10vh) scale(1);
        }
    }

    @-webkit-keyframes animate {
        0% {
            -webkit-transform: translateY(100vh) scale(0);
        }
        100% {
            -webkit-transform: translateY(-10vh) scale(1);
        }
    }
}

@media (min-width: 601px) {
    * {
        margin: 0px;
        background-color: #5e503f;
        cursor: none;
    }

    a {
        float: left;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 30px;
        background-color: #C6AC8F;
        font-family: Comfortaa;
    }

    nav.navbar.sticky-top {
        padding: 0;
        z-index: 0;
    }

    a.navbarBrand {
        color: white;
        text-decoration: none;
    }

    div.container-fluid {
        background-color: #C6AC8F;
        display: inline-block;
        border-top: 5px solid #eae0d5;
        border-bottom: 5px solid #eae0d5;
    }

    span.navbar-toggler-icon {
        background-color: #C6AC8F;
        display: none;
    }

    li.navItem {
        background-color: #C6AC8F;
        display: inline-block;
    }

    a.navLink {
        color: white;
        background-color: #C6AC8F;
        font-size: 18px;
        text-decoration: none;
        display: inline-block;
    }

    button.navbar-toggler {
        background-color: #C6AC8F;
        display: none;
    }

    .Instagram {
        height: 30px;
        width: 30px;
    }

    .Gmail {
        height: 30px;
        width: 30px;
    }

    .Linkedin {
        height: 30px;
        width: 30px;
    }

    .carousel-container {
        width: 70%;
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 55%;
        left: 49%;
        transform: translate(-50%, -50%);
        z-index: 5;
        background-color: transparent;
    }

    .carousel-images {
        width: 80%;
        background: #C6AC8F;
        padding: 10px;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 2px 2px #5e503f;
    }

    .carousel-images img {
        width: 100%;
        border-radius: 10px;
        display: none;
    }

    .carousel-images img:first-of-type {
        display: block;
    }

    .carousel-button {
        align-self: center;
        background: #C6AC8F;
        color: #C6AC8F;
        padding: 10px;
        border-radius: 50%;
        text-align: center;
        box-shadow: 1px 1px #C6AC8F;
    }

    .carousel-button:hover {
        cursor: pointer;
        background: #C6AC8F;
        box-shadow: 1px 1px #C6AC8F;
        color: white;
    }

    .carousel-button.next {
        border: 5px solid ;
    }

    .carousel-button.prev {
        border: 5px solid ;
    }

    span.lnr.lnr-chevron-left {
        background-color: #C6AC8F;
        color: white;
    }

    span.lnr.lnr-chevron-right {
        background-color: #C6AC8F;
        color: white;
    }
    
    div.container {
        width: 100vw;
    }

    .Instagram {
        height: 30px auto;
        width: 30px;
    }

    .Gmail {
        height: 30px;
        width: 30px;
    }

    .Linkedin {
        height: 30px;
        width: 30px;
        background-color: white;
    }

    .socialLink {
        background-color: white;
    }

    .bottomLinks {
        border-top: 5px solid #eae0d5;
        background-color: #C6AC8F;
        padding-top: 5px;
        padding-bottom: 4px;
        position: absolute;
        width: 100vw;
        bottom: 0;
        z-index: 5;
    }

    div.container {
        padding-bottom: 15px;
    }

    h1 {
        background-color: #C6AC8F;
        border-bottom: 5px solid #eae0d5;
        border-top: 5px solid #eae0d5;
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        font-family: Comfortaa;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        position: absolute;
        top: 55%;
        left: 49%;
        transform: translate(-50%, -50%);
        z-index: 5;
        background-color: transparent;
    }

    .head-container {
        color: white;
        position: absolute;
        width: 100vw;
        z-index: 5;
        top: 0;
        margin-top: 8px;
        background-color: transparent;
        
    }

    body {
        min-height: 100vh;
        background-color: #5e503f;
    }
    
    .background-container {
        position: relative;
        width: 100%;
        height: 92vh;
        overflow: hidden;
    }
    
    .background-bubbles {
        position: relative;
        display: flex;
        z-index: 2;
    }
    
    .background-bubbles span {
        position: relative;
        width: 30px;
        height: 30px;
        background: #eae0d5;
        margin: 0 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #807972,
        0 0 50px #eae0d5,
        0 0 100px #eae0d5;
        animation: animate 15s linear infinite;
        animation-duration: calc(125s / var(--i));
        z-index: 2;
    }
    
    .background-bubbles span:nth-child(even) {
        background: #C8AF92;
        box-shadow: 0 0 0 10hv #81715f,
        0 0 50px #C8AF92,
        0 0 100px #C8AF92;
        z-index: 2;
    }
    
    @keyframes animate {
        0% {
            transform: translateY(100vh) scale(0);
        }
        100% {
            transform: translateY(-10vh) scale(1);
        }
    }
}