@media (max-width: 600px) {
    * {
        margin: 0px;
        background-color: #eae0d5;
    }

    a {
        float: left;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 30px;
        background-color: #C6AC8F;
        font-family: Comfortaa;
    }

    a.navbarBrand {
        color: white;
        text-decoration: none;
    }

    div.container-fluid {
        background-color: #C6AC8F;
        border-top: 5px solid #5e503f;
        border-bottom: 5px solid #5e503f;
    }

    span.navbar-toggler-icon {
        background-color: #C6AC8F;
    }

    button.navbar-toggler {
        background-color: #C6AC8F;
    }

    a.navLink {
        color: white;
        background-color: #C6AC8F;
        font-size: 18px;
        text-decoration: none;
    }

    li.navItem {
        background-color: #C6AC8F;
    }

    div.largeScreen {
        display: none;
    }

    .Instagram {
        height: 30px;
        width: 30px;
    }

    .Gmail {
        height: 30px;
        width: 30px;
    }

    .Linkedin {
        height: 30px;
        width: 30px;
    }

    .Instagram {
        height: 30px auto;
        width: 30px;
    }

    .Gmail {
        height: 30px;
        width: 30px;
    }

    .Linkedin {
        height: 30px;
        width: 30px;
        background-color: white;
    }

    .socialLink {
        background-color: white;
    }

    .bottomLinks {
        border-top: 5px solid #5e503f;
        background-color: #C6AC8F;
        padding-top: 5px;
        padding-bottom: 4px;
        position: absolute;
        width: 100vw;
        bottom: 0;
    }

    h1 {
        background-color: #C6AC8F;
        border-bottom: 5px solid #5e503f;
        border-top: 5px solid #5e503f;
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        font-family: Comfortaa;
        margin-bottom: 0;
    }

    img.resumeExample {
        height: auto;
        width: 100vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8px;
        border: 5px solid #5e503f;
        background-image: url('backgroundImg.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .backToTopButton {
        background-color: white;
        font-family: Comfortaa;
        height: 35px;
        display: flex;
        flex-direction: column;
        float: right;
    }

    #myResume {
        color: white;
    }
}

@media (min-width: 601px) {
    * {
        margin: 0px;
        background-color: #eae0d5;
        cursor: none;
    }

    a {
        float: left;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 30px;
        background-color: #C6AC8F;
        font-family: Comfortaa;
    }

    nav.navbar.sticky-top {
        margin: 0;
        padding: 0;
        z-index: 0;
    }

    a.navbarBrand {
        color: white;
        text-decoration: none;
    }

    div.container-fluid {
        background-color: #C6AC8F;
        display: inline-block;
        border-top: 5px solid #5e503f;
        border-bottom: 5px solid #5e503f;
    }

    span.navbar-toggler-icon {
        background-color: #C6AC8F;
        display: none;
    }

    li.navItem {
        background-color: #C6AC8F;
        display: inline-block;
    }

    a.navLink {
        color: white;
        background-color: #C6AC8F;
        font-size: 18px;
        text-decoration: none;
        display: inline-block;
    }

    button.navbar-toggler {
        background-color: #C6AC8F;
        display: none;
    }

    .Instagram {
        height: 30px;
        width: 30px;
    }

    .Gmail {
        height: 30px;
        width: 30px;
    }

    .Linkedin {
        height: 30px;
        width: 30px;
    }

    .Instagram {
        height: 30px auto;
        width: 30px;
    }

    .Gmail {
        height: 30px;
        width: 30px;
    }

    .Linkedin {
        height: 30px;
        width: 30px;
        background-color: white;
    }

    .socialLink {
        background-color: white;
    }

    .bottomLinks {
        border-top: 5px solid #5e503f;
        background-color: #C6AC8F;
        padding-top: 5px;
        padding-bottom: 4px;
        position: absolute;
        width: 100vw;
        bottom: -23%;
    }

    #myResume {
        background-color: #C6AC8F;
        border-bottom: 5px solid #5e503f;
        border-top: 5px solid #5e503f;
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        font-family: Comfortaa;
        margin-bottom: 0px;
        position: absolute;
        width: 100vw;
        z-index: 4;
        top: 9%;
    }

    img.resumeExample {
        height: auto;
        width: 750px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-left: 5px solid #5e503f;
        border-right: 5px solid #5e503f;
        background-color: #eae0d5;
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .image-container {
        background-image: url('backgroundImg.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
        position: absolute;
        top: 66.6%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
    }

    .backToTopButton {
        background-color: white;
        font-family: Comfortaa;
        height: 35px;
        display: flex;
        flex-direction: column;
        float: right;
        position: relative;
        right: 20px;
    }
    
    .big-container {
        color: white;
    }

    .inner-cursor {
        position: fixed;
        z-index: 20;
        left: 10px;
        width: 10px;
        height: 10px;
        transform: translate(-50%, -50%);
        background-color: white;
        mix-blend-mode: difference;
        border-radius: 50%;
        pointer-events: none;
        transition: width .5s, height .5s;
        
    }
    
    .inner-cursor.grow {
        width: 25px;
        height: 25px;
        transition: width .5s, height .5s;
    }
    
    .outer-cursor {
        position: fixed;
        z-index: 20;
        left: 10px;
        width: 25px;
        height: 25px;
        transform: translate(-50%, -50%);
        border: 1px solid white;
        mix-blend-mode: difference;
        border-radius: 50%;
        pointer-events: none;
    }
}