* {
    margin: 0px;
    background-color: #eae0d5;
    cursor: url(), auto;
}

@media (max-width: 600px) {
    a {
        float: left;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 30px;
        background-color: #5e503f;
        font-family: Comfortaa;
    }

    a.navbarBrand {
        color: white;
        text-decoration: none;
    }

    div.container-fluid {
        background-color: #5e503f;
    }

    span.navbar-toggler-icon {
        background-color: #C6AC8F;
    }

    button.navbar-toggler {
        background-color: #C6AC8F;
    }

    a.navLink {
        color: white;
        background-color: #5e503f;
        font-size: 18px;
        text-decoration: none;
    }

    li.navItem {
        background-color: #5e503f;
    }

    div.largeScreen {
        display: none;
    }

    .Instagram {
        height: 30px;
        width: 30px;
    }

    .Gmail {
        height: 30px;
        width: 30px;
    }

    .Linkedin {
        height: 30px;
        width: 30px;
    }

    .Instagram {
        height: 30px auto;
        width: 30px;
    }

    .Gmail {
        height: 30px;
        width: 30px;
    }

    .Linkedin {
        height: 30px;
        width: 30px;
        background-color: white;
    }

    .socialLink {
        background-color: white;
    }

    .bottomLinks {
        border-top: 5px solid #5e503f;
        background-color: #C6AC8F;
        padding-top: 5px;
        padding-bottom: 4px;
    }

    h1 {
        background-color: #C6AC8F;
        border-bottom: 5px solid #5e503f;
        border-top: 5px solid #5e503f;
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        font-family: Comfortaa;
        margin-bottom: 0;
    }

    img.resumeExample {
        height: auto;
        width: 100vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8px;
        border: 5px solid #5e503f;
        background-image: url('backgroundImg.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .backToTopButton {
        background-color: white;
        font-family: Comfortaa;
        height: 35px;
        display: flex;
        flex-direction: column;
        float: right;
    }
}

@media (min-width: 601px) {
    a {
        float: left;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 30px;
        background-color: #5e503f;
        font-family: Comfortaa;
    }

    a.navbarBrand {
        color: white;
        text-decoration: none;
    }

    div.container-fluid {
        background-color: #5e503f;
        display: inline-block;
    }

    span.navbar-toggler-icon {
        background-color: #C6AC8F;
        display: none;
    }

    li.navItem {
        background-color: #5e503f;
        display: inline-block;
    }

    a.navLink {
        color: white;
        background-color: #5e503f;
        font-size: 18px;
        text-decoration: none;
        display: inline-block;
    }

    button.navbar-toggler {
        background-color: #C6AC8F;
        display: none;
    }

    .Instagram {
        height: 30px;
        width: 30px;
    }

    .Gmail {
        height: 30px;
        width: 30px;
    }

    .Linkedin {
        height: 30px;
        width: 30px;
    }

    .Instagram {
        height: 30px auto;
        width: 30px;
    }

    .Gmail {
        height: 30px;
        width: 30px;
    }

    .Linkedin {
        height: 30px;
        width: 30px;
        background-color: white;
    }

    .socialLink {
        background-color: white;
    }

    .bottomLinks {
        border-top: 5px solid #5e503f;
        background-color: #C6AC8F;
        padding-top: 5px;
        padding-bottom: 4px;
    }

    #myResume {
        background-color: #C6AC8F;
        border-bottom: 5px solid #5e503f;
        border-top: 5px solid #5e503f;
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        font-family: Comfortaa;
        margin-bottom: 0px;
    }

    img.resumeExample {
        height: auto;
        width: 750px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-left: 5px solid #5e503f;
        border-right: 5px solid #5e503f;
        background-color: #eae0d5;
    }

    .image-container {
        background-image: url('backgroundImg.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .backToTopButton {
        background-color: white;
        font-family: Comfortaa;
        height: 35px;
        display: flex;
        flex-direction: column;
        float: right;
    }
}